.container{
    width: 80%;
    padding: 10px;
    margin: 50px auto;
}
.nest{
    margin-top: 30px;
    margin-bottom: 30px;
  
}
.nest a{
    font-size: 24px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.nest a:last-child{
    margin-left: 40px;
}
.found{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    
}

